<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Erro - Cálculo de IMC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>
<body>
    <header>
        <h1>Portal Saúde & Fitness</h1>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="/profile">Perfil</a>
        </nav>
    </header>

    <main>
        <div class="result-container show">
            <h3>Erro {{ status_code }}</h3>
            <p>{{ error_message }}</p>
            <br>
            <a href="{{ url_for('index') }}" class="back-button">Voltar</a>
        </div>
    </main>
</body>
</html>
